  .bigbox
  {
    width : 100%;
    height : 40px;
    background-color : white;
    border-top : 15px solid black;
   
  }

  .smallbox
  {
    display : block;
    float : left;
    width : 9%;
    height : 100%;
    border-right : 6px double pink;
    margin : 0px;
    padding : 0px;
    background-color : white;
  }
  .smallboxnew
  {
    display : block;
    float : left;
    width : 9%;
    height : 40px;
    border-right : 6px double pink;
    margin : 0px;
    padding : 0px;
    background-color : white;
  }
  .new-item
  {
    display : block;
    width : 89%;
    height : 95%;
    float : left;
    border-style : none;
    text-indent : 5px;
    
  }
  .addingitem
  {
    display : block;
    width : 89%;
    height : 40px;
    float : left;
    background-color :white;
    border-top: 1px dotted #adadad;
    text-indent : 5px;
  
  }
  
  .toggle-all
  {
   position:relative;
   left:16px;
   top:10px;

  }
  #new-toggle
  {
     position:relative;
     left:16px;
     top:10px;
  }

