.delete {
 float:right;

 padding-right: 15px;
 font-size: 2em;
 color: red;
}
.completed {
  text-decoration:line-through;
}
.remaining {
float: left;
text-align: left;
}
#footer
{
  color: #777;
  padding: 0 15px;
  height: 20px;
  z-index: 1;
  text-align: center;
}
#filters {
margin: 0;
padding: 0;
list-style: none;
position: absolute;
right: 0;
left: 0;
}
#filters li{
  display:inline;
  font-size:0.75em;
}
#clear-completed {
float: right;
position: relative;
line-height: 10px;
text-decoration: none;
background: rgba(0, 0, 0, 0.1);
font-size: 11px;
padding: 0 8px;
border-radius: 3px;
box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}


